body {
  background: url(../_imagens/background-papper.jpg) center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width: 769px) {
  #menu-desk {
    display: none;
  }

  #original {
    padding-top: 300px;
    padding-bottom: 40px;
  }

  .mobile-items-space {
    margin: 50px auto;
  }

  .menu-drop {
    background-color: transparent;
    border: none;
  }
}

@media (min-width: 770px) {
  #menu-mobile {
    display: none;
  }

  #original {
    padding-top: 30%;
    padding-bottom: 40px;
  }

  .hovered {
    transition: 1s;
  }

  .hovered:hover {
    color: white;
  }
}

#imagem-cabecalho {
  background: url(../_imagens/pizza-burguer.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.style-menu {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 149;
}

.font-oleo {
  font-family: 'Oleo Script Swash Caps', cursive;
}

.yellow-text {
  color: #ffcc00;
}

.sessoes {
  padding-top: 100px;
  padding-bottom: 100px;
}

.beer-cap {
  background: url(../_imagens/beer-cap.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.background-white {
  background-color: white;
}

.destaques {
  height: 300px;
}

.black-transparency {
  background-color: #000;
  opacity: 0;
  margin: 10px auto;
  height: 280px;
  transition: 1s;
}

.black-transparency:hover {
  opacity: 0.7;
}

.text-destaques {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#destaque-pizza {
  background: url(../_imagens/back-pizza.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#destaque-burguer {
  background: url(../_imagens/back-burguer.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#destaque-baked {
  background: url(../_imagens/back-baked.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#destaque-calzone {
  background: url(../_imagens/back-calzone.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#destaque-pizza2 {
  background: url(../_imagens/back-pizza.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#destaque-burguer2 {
  background: url(../_imagens/back-burguer.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#destaque-baked2 {
  background: url(../_imagens/back-baked.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#destaque-calzone2 {
  background: url(../_imagens/back-calzone.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.backwood {
  background: url(../_imagens/backwood.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.no-border {
  border: none;
  background-color: transparent;
}
