body {
  background: url(../_imagens/background-papper.jpg) center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
    font-family: 'LogoFont'; /*a name to be used later*/
    src: url('../_fonts/font-logo.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'CorpoFont'; /*a name to be used later*/
    src: url('../_fonts/font-corpo.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'CorpoFontItalic'; /*a name to be used later*/
    src: url('../_fonts/font-corpo-italic.ttf'); /*URL to font*/
}

.font-logo {
  font-family: 'LogoFont';
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

.font-logo-on-black {
  font-family: 'LogoFont';
}

.corpo-font {
  font-family: 'CorpoFont';
}

.corpo-font-italic {
  font-family: 'CorpoFontItalic';
}

@media (max-width: 769px) {
  #menu-desk {
    display: none;
  }

  #original {
    padding-top: 300px;
    padding-bottom: 40px;
  }

  .mobile-items-space {
  }

  .menu-drop {
    background-color: transparent;
    border: none;
  }
}

@media (min-width: 770px) {
  #menu-mobile {
    display: none;
  }

  #original {
    padding-top: 30%;
    padding-bottom: 40px;
  }

  .hovered {
    transition: 1s;
  }

  .hovered:hover {
    color: white;
  }

  .padded {
    margin: 10px;
  }

  .big-font {
    font-size: 27px;
  }
}

#imagem-cabecalho {
  background: url(../_imagens/pizza-principal.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.style-menu {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 149;
}

.font-oleo {
  font-family: 'Oleo Script Swash Caps', cursive;
}

.font-signika {
  font-family: 'Signika', sans-serif;
}

.yellow-text {
  color: #ffcc00;
}

.pad-bottom {
  padding-bottom: 50px;
}

.sessoes {
  margin-top: 50px;
  margin-bottom: 50px;
}

.sec-pad {
  padding-top: 170px;
}

.background-white {
  background-color: white;
}

.destaques {
  height: 300px;
}

.black-transparency {
  background-color: #000;
  opacity: 0;
  margin: 10px auto;
  height: 280px;
  transition: 1s;
}

.black-transparency:hover {
  opacity: 0.7;
}

.text-destaques {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.black-menu {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
}

.section-cardapio {
  padding-top: 50px;
}

.white-line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #eee;
  margin: 1em 0;
  padding: 0;
}

.black-line {
  display: block;
   height: 1px;
   border: 0;
   border-top: 1px solid #555;
   margin: 1em 0;
   padding: 0;
}

.back-pizza {
  background: url(../_imagens/back-pizza.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.back-pizza2 {
  background: url(../_imagens/back-pizza2.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.back-pizza3 {
  background: url(../_imagens/back-pizza3.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.back-pizza4 {
  background: url(../_imagens/back-pizza3.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.back-doce {
  background: url(../_imagens/pizza-banana.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.back-baked {
  background: url(../_imagens/back-baked.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.back-burguer {
  background: url(../_imagens/back-burguer.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.back-porcao {
  background: url(../_imagens/back-porcao.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.back-black {
  background-color: #010101;
}

.padded {
  padding-top: 50px;
  padding-bottom: 50px;
}

.no-border {
  border: none;
  background-color: transparent;
}

.titulopreco {
  font-family: 'Lato', sans-serif;
}

.titulo {

}

.preco {

}

.line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #777;
  margin: 1em 0;
  padding: 0;
}

.descricao {
  clear: both;
}

.cardapios {
  list-style: none;
}

.sec-pad-min {
  padding-top: 50px;
}
